.Upload {
  display: flex;
  font-size: 16pt;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  text-align: left;
  overflow: auto;
}

.Content {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  box-sizing: border-box;
  font-size: 16pt;
  width: 100%;
}

.Files {
  margin-left: 32px;
  align-items: flex-start;
  justify-items: flex-start;
  font-size: 16pt;
  flex: 1;
  overflow-y: auto;
}

.Actions {
  display: flex;
  width: 100%;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 32px;
  overflow: auto;
  font-size: 16pt;
  flex-wrap: wrap;
}

.Title {
  margin-bottom: 12px;
  font-size: 32pt;
  font-weight: bold;
  color: #881911;
}

.Filename {
  margin-bottom: 8px;
  color: #555;
  font-size: 16pt;
}

.topright {
  position: absolute;
  top: 5%;
  right: 2%;
}

.Row {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  padding: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.CheckIcon {
  opacity: 0.5;
  margin-left: 32px;
}

.ProgressWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  font-size: 16pt;
}

button {
  font-family: "Roboto medium", sans-serif;
  font-size: 16px;
  display: inline-block;
  height: 50px;
  min-width: 90px;
  padding: 10px 10px 10px 10px;
  line-height: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  border-radius: 2px;
  background: rgba(103, 58, 183, 1);
  color: #fff;
  outline: 0;
}

button:disabled {
  background: rgb(189, 189, 189);
  cursor: default;
}

ul {
  font-size: 18pt;
  font-weight: 500;
  list-style-type: none;
  padding: 25px 25px;
}

li {
  font-size: 18pt;
  font-weight: 500;
  list-style-type: none;
  padding: 10px 0px;
}

.Filename {
  font-weight: bold;
}