
table {
    border-collapse: collapse;
    margin: 10px;
    padding: 10px;
    width: 1400px;
    height: 1200px;
    table-layout: fixed;
    font-size: 16pt;
    size: landscape;
}

table th:last-child {
    background-color: #85b394;
    height: 80px;
    min-width: 15px;
    max-width: 15px;
    table-layout: fixed;
    font-size: 14pt;
    font-weight: normal;
    word-wrap: break-spaces;
}

table th:first-child {
    background-color: #85b394;
    height: 80px;
    min-width: 15px;
    max-width: 15px;
    table-layout: fixed;
    font-size: 14pt;
    font-weight: normal;
    word-wrap: break-spaces;
}

table th {
    background-color: #5da0e8;
    border-right: 2px solid #848484;
    height: 80px;
    width: 50px;
    table-layout: fixed;
    font-size: 14pt;
    padding: 5px;
    font-weight: normal;
    word-wrap: break-spaces;
    font-stretch: condensed;
}
table, thead, th {
    padding: 3px;
    border-spacing: 15px;
    height: 25px;
}

table td {
    border-right: 2px solid #848484;
    height: 25px;

    word-wrap: break-word;
}

table tr {
    background-color: #ffffff;
    padding: 10px;
    height: 40px;
    font-stretch: condensed;
}

table tr:last-child {
    height: 50px;
}

table tr:nth-last-child(2) {
    border-top: 2px solid #848484;
    color: #2f92d9;
}

table td.first {
    padding: 10px;
}


table tr:first-child {
    background-color: #85b394;
    font-weight: bold;
    text-align: center;
}

table tr:last-child {
    background-color: #85b394;
    word-wrap: break-word;
    text-align: center;
}

table tr:nth-last-child(2) {
    word-wrap: break-word;
    text-align: center;
}


table td:first-child {
    background-color: #d2caac;
    border-top: 1px solid #ffffff;
    font-weight: bold;
    text-align: center;
}

table td:last-child {
    background-color: #d2caac;
    border-top: 1px solid #ffffff;
    color: #3888e4;
    font-size: 16pt;
    font-weight: bold;

}

th {
    margin-inside: 15px;
    word-wrap: break-spaces;
    word-break-wrap: spaces;
    text-align: left;
    word-break: break-word;

}

th:last-child {

    word-wrap: break-spaces;
    word-break-wrap: spaces;
    text-align: center;
    word-break: break-word;
    font-weight: bold;
}

thead {
    margin-inside: 15px;
    word-wrap: break-spaces;
    word-break-wrap: spaces;
    text-align: left;
    word-break: break-word;

}

thead:last-child {
    margin-inside: 15px;
    word-wrap: break-spaces;
    word-break-wrap: spaces;
    text-align: center;
    word-break: break-word;
    font-weight: bold;

}

thead:first-child {
    margin-inside: 15px;
    word-wrap: break-spaces;
    word-break-wrap: spaces;
    text-align: center;
    word-break: break-word;
    font-weight: bold;

}

th:first-child {
    margin-inside: 15px;
    word-wrap: break-spaces;
    word-break-wrap: spaces;
    text-align: center;
    word-break: break-word;
    font-weight: bold;
}


td {
    text-align: center;
}

span {
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
}


.QCrow:nth-last-child(2) {
    height: 80px;
    width: 50px;
    table-layout: fixed;
    font-size: 14pt;
    padding: 5px;
    font-weight: normal;
    word-wrap: break-spaces;
    font-stretch: condensed;
    background-color: #ffe583;
}

.QCrow:nth-last-child(3) {
    height: 80px;
    width: 50px;
    font-size: 14pt;
    padding: 5px;
    font-weight: normal;
    word-wrap: break-spaces;
    font-stretch: condensed;
    background-color: #ffe583;
}

.QCrow:nth-child(2) {
    height: 80px;
    width: 50px;
    font-size: 14pt;
    padding: 5px;
    font-weight: normal;
    word-wrap: break-spaces;
    font-stretch: condensed;
    background-color: #ffe583;
}

.all {
    font-size: 12px;
}